<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/app.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
  </head>

  <body ng-controller="GitUserSearchController">
    <h1>Teacher Report Card</h1>
    <div>
      <form class="form-horizontal">
        Please enter username: <input type="text" ng-model="searchTerm" ng-change="doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 50} }">
        <button class="btn" ng-click="doSearch()">Search</button>
      </form>
      <p id="search_for" style="display: none">You searched for: </p>
      <p>{{ searchTerm }}</p>
      <p>{{ repoCount }}</p>
      <br>
      <ul class="list-group" ng-repeat="user in searchResult.items">
        <li>
          <img class="img" ng-src="{{user.avatar_url}}">
          <a ng-href="{{user.html_url}}">{{user.login}}</a>
        </li>
      </ul>
    </div>
    
    <div id="repos" style="display: none">
      <ul class="list-group" ng-repeat="repo in repos">
        <li >Repo: {{ repo.name }}
          <li>Total commits: {{ repo.totalCommits }}</li>
          <li>{{ searchTerm }}'s commits: {{ repo.userCommits }}</li>
        </li>
      </ul>
    </div>
      
<!--       <p>Bookmark Manager</p>
      <p>Total commits: {{ repoCommitCount }}</p>
      <p>{{ searchTerm }}'s commits: {{ userCommitCount }}</p>
    </div> -->

    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>
  </body>
</html>
